.cart-details {
    position: absolute; /* Keep the cart fixed on the screen */
    top: 50px; /* Position at the top of the viewport */
    right: 50px; /* Position at the right edge of the viewport */
    width: 300px; /* Set a fixed width for the cart */
    background-color: #fff; /* Set background color to white */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); /* Add a slight shadow effect */
    padding: 15px; /* Add some padding for content */
    display: none; /* Initially hide the cart details */
    z-index: 10; /* Ensure the cart details are displayed above other elements */
  }
  
  .cart-details.cart-details-show { /* Optional class for animation */
    animation: cart-show 0.3s ease-in-out forwards; /* Add a smooth slide-in animation */
  }
  
  @keyframes cart-show {
    from {
      opacity: 0;
      transform: translateX(100%); /* Slide in from the right */
    }
    to {
      opacity: 1;
      transform: translateX(0); /* End animation at the right edge */
    }
  }
  

.background{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250vh;
    margin: 0;
    background-color: whitesmoke;
    overflow: hidden;
    position: relative;
    font-family: "Montserrat", "Helvetica Neue", "Arial", "sans-serif";
}

.container{
    background-color: white;
    height: 450px;
    width: 350px;
    position: absolute;
}

img{
    height:90px;
    width:90px;
}

.cart-count{
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    color:red;
    background-color: black
}


.h1{
    margin-top: 275px;
    margin-left: 15px;
    font-family: Montserrat;
    color: darkslategrey;
    transition: color 0.3s ease,text-decoration 0.3s ease;
}

.like-button{
    height: 25px;
    width: 25px;
    margin-top: -10px;
    margin-left: 275px;
}

.like-button:hover{
    cursor: pointer;
 }

 .h1-price{
    margin-left: 15px;
    margin-top: -20px;
 }

 .h1-buy{

    margin-left: 85px;
    padding: 10px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 30px;
    border: none;
    background-color: darkslategrey;
    color: white;
    transition: border 0.3s ease, background-color 0.3s ease,color 0.3s ease;
 }

 .h1-buy:hover{
    border: 0.5px solid darkslategrey;
    background-color: white;
    color: darkslategrey;
    cursor: pointer;
}
